.centerInput{
    padding: 10px;
}
.formControl {
    border-radius: 0rem !important;
    font-size: 14px;
    font-weight: 500;
}

.formControl:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#b6b6b6;
}

.formControl::-ms-input-placeholder { /* Microsoft Edge */
  color:#b6b6b6;
}
.formControl::placeholder {
  font-size: 14px;
  color:#b6b6b6;
  font-weight: 500
}