.buttonStyle{
    bottom: 35px;
    width: 98%
}

.accHeight{
    max-height: 68vh;
    height: 100%;
    overflow-y: auto;
    padding: 1rem!important;
}
.rotate1{
    -webkit-transform: rotate(90deg);  /* Chrome, Safari, Opera */
    -moz-transform: rotate(90deg);  /* Firefox */
    -ms-transform: rotate(90deg);  /* IE 9 */
        transform: rotate(90deg);  /* Standard syntax */
        
}