.buttonStyle{
    background-color: #bd2130;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    border-radius: 0px !important;
}

.rightBoder{
    border-right: black solid;
}
.textCenter{
    text-align: center;
}
.contenarDat{
    width: 90%;
    margin: auto;
}