.imageStyle{
  height: 16px;
    float:right
  }

  .topRight {
    position: absolute;
    top: 8px;
    right: 16px;
  }

.primary {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

  