.dat{
    color: #fff;
}

.buttonStyle{
    position: absolute;
    bottom: 35px;
    width: 98%
}
.form_login{
    padding-top: 10%;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.warningText{
   justify-content: center;
    font-weight: bold;
    color:  #ff0000;
}
.loginTexMargin{
    margin-top: 9px;
}
.loginText{padding: 0.75rem .45rem !important;}

.floatRight{
    float: right;
    margin-right: 10px
}