.headerText{

}
.subHeaderText{
    font-size: 1.5em;
    font-weight: bolder;
    color: #191970
}
.normalText{
    text-align: left;
    font-size: 17px;
    font-family: 'Calibri';
}
.lableText{

}